<table>
    <thead>
        <tr>
            {{#cols}}
            <td>{{.}}
            {{/cols}}

    <tbody>
        {{#rows}}
        <tr>
            {{#.}}
            <td>{{{.}}}
            {{/.}}
        {{/rows}}

</table>
