<section>
<h2>Table Routes</h2>

{{#tables}}
<p><a href="/{{tablename}}">{{tablename}}</a>
{{/tables}}
</section>

<section>
<h2>Custom Routes</h2>

{{#custom}}
<p><a href="{{path}}">{{name}}</a>
{{/custom}}
</section>
